XML parsers/src/input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog" type="catalogType"/>
    <xs:complexType name="songType">
        <xs:sequence>
            <xs:element name="title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-zA-Z.,\s]+"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="musician">
                <xs:simpleType>
                    <xs:list itemType="xs:string"></xs:list>
                </xs:simpleType>
            </xs:element>
            <xs:element name="country">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="UK"/>
                        <xs:enumeration value="USA"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="year">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minExclusive value="1800"></xs:minExclusive>
                        <xs:maxExclusive value="2021"></xs:maxExclusive>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rating">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A"/>
                        <xs:enumeration value="B"/>
                        <xs:enumeration value="C"/>
                        <xs:enumeration value="D"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element type="songType" name="song" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>